/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --permanent-white: hsl(0 0% 100%);
    /* white */
    --background: hsl(0 0% 100%);
    /* black */
    --foreground: hsl(222.2 84% 4.9%);
    /* white */
    --card: hsl(0 0% 100%);
    /* black */
    --card-foreground: hsl(222.2 84% 4.9%);
    /* white */
    --popover: hsl(0 0% 100%);
    /* black */
    --popover-foreground: hsl(222.2 84% 4.9%);
    /* blue */
    --primary: hsl(195, 100%, 36%);
    /* for hover */
    --primary-second: hsl(195, 97%, 23%);
    /* light */
    --primary-foreground: hsl(210 40% 98%);
    /* gray */
    --secondary: hsl(210 40% 96.1%);
    /* black */
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    /* secondary */
    --muted: hsl(210 40% 96.1%);
    /* blue dark */
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    /* secondary */
    --accent: hsl(210 40% 96.1%);
    /* black */
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    /* red */
    --destructive: hsl(0, 70%, 35%);
    /* gray */
    --destructive-foreground: hsl(210 40% 98%);
    /* gray light */
    --border: hsl(214.3 31.8% 91.4%);
    /* primary / input - border */
    --input: hsl(195, 100%, 36%);
    /* black */
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;

    --area: var(--background);

    --header: hsl(217, 19%, 27%);

    --label: hsl(25, 82%, 50%);

    --success: hsl(128, 64%, 55%);
    --success-foreground: var(--foreground);
    --success-hover: hsl(128, 63%, 35%);
    --success-light: #d4ffd4;

    --original: #1fa56d;
    --translated: #c28b26;

    --star: #facc15;

    --next: #ffb876;
    --next-hover: #ffa34e;

    --helper: #9866ca;
  }

  .dark {
    --permanent-white: hsl(0, 0%, 84%);

    --background: hsl(222.2 84% 4.9%;) --foreground: hsl(210 40% 84%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 84%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 84%);

    --primary: hsl(195, 97%, 23%);
    /* for hover */
    --primary-second: hsl(195, 100%, 36%);

    --primary-foreground: hsl(0, 0%, 84%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 84%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 84%);

    --destructive: hsl(0, 74%, 42%);
    --destructive-foreground: hsl(210 40% 84%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: var(--foreground);
    --ring: hsl(212.7 26.8% 83.9%);

    /* blue dark */
    --area: hsl(215.4 16.3% 46.9%);

    --header: hsl(217, 19%, 27%);

    --label: hsl(25, 82%, 30%);

    --success: #219130;
    --success-foreground: hsl(128, 64%, 54%);
    --success-hover: hsl(128, 64%, 54%);
    --success-light: #466246;

    --original: #1fa56d;
    --translated: #c28b26;

    --star: #facc15;

    --next: #bd7f45;
    --next-hover: #ffa34e;

    --helper: #9866ca;
  }
}

body {
  font-family: var(--font-poppins);
}

button {
  outline: none;
}

.voc_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding pb-1 mb-4 backdrop-blur-lg backdrop-filter  w-full h-fit;
}

.btn {
  @apply w-full sm:h-12;
}

.add_btn {
  @apply w-7 h-7 rounded-full backdrop-blur flex justify-center items-center cursor-pointer;
}
